.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  grid-auto-rows: auto;

  word-wrap: break-word;
}

.post > *:first-child {
  grid-row: 1/4;
}

.post p:not(.grommetux-paragraph) {
  margin-top: 0px;
}

.post > *:last-child:not(:nth-child(0n + 3)) {
  font-weight: 300;
  font-size: 0.8rem;
  color: #646464;
}
